{% extends 'base.html' %}

{% block head %}
<title>Cart</title>
<script src="https://js.stripe.com/v3/"></script>
{% endblock head %}

{% block content %}
<div id="productsContainer"></div>
<div class="container text-end">
    <h3 id="cost"></h3>
    <div>
        <button type="button" id="submitBtn" class="btn btn-primary">Buy it!</button>
    </div>
</div>

<script>
    const stripe = Stripe('{{ stripe_publishable_key }}');

    document.querySelector("#submitBtn").addEventListener("click", () => {
        const cartObj = JSON.parse(localStorage.getItem('cart'));
        fetch("/create-checkout-session/", {
            body: JSON.stringify(cartObj),
            method: 'POST'
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.sessionId });
            })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    });
</script>

<script>
    const cartObj = JSON.parse(localStorage.getItem('cart'));
    let cost = 0;
    const container = document.getElementById('productsContainer');
    container.innerHTML = `<div class="container justify-content-center">`;
    for (const key in cartObj) {
        fetch(`/get-product/${key}`)
            .then((response) => { return response.json() })
            .then((data) => {
                cost += cartObj[key] * data['price'];
                container.innerHTML += `
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img src="${data['imageURL']}" class="img-fluid rounded-start" alt="${data['name']}" style="max-height: 150px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">${data['name']}</h5>
                                <span class="card-text">
                                    <input class="amount" type="number" min="1" max="100" value="${cartObj[key]}" data-id="${key}"/>
                                </span>
                            </div>
                        </div>
                        <button type="button" class="btn-close col-md-1 delItem" data-id="${key}" aria-label="Close"></button>
                        <input type="hidden" id="price${key}" value="${data['price']}" />
                    </div>
                </div>`;
                document.getElementById('cost').innerHTML = `${cost} &#8372;`;
                const amounts = document.getElementsByClassName('amount');
                for (const elem of amounts) {
                    let id = elem.dataset.id;
                    elem.addEventListener("click", (event) => {
                        const cartObj = JSON.parse(localStorage.getItem('cart'));
                        cartObj[id] = Number(event.target.value);
                        localStorage.setItem('cart', JSON.stringify(cartObj));
                        let cost = 0;
                        for (const id in cartObj) {
                            cost += cartObj[id] * document.getElementById(`price${id}`).value;
                        }
                        document.getElementById('cost').innerHTML = `${cost} &#8372;`;
                    });
                }
                const delBtns = document.getElementsByClassName('delItem');
                for (const elem of delBtns) {
                    let id = elem.dataset.id;
                    elem.addEventListener("click", (event) => {
                        const cartObj = JSON.parse(localStorage.getItem('cart'));
                        delete cartObj[id];
                        localStorage.setItem('cart', JSON.stringify(cartObj));
                        let cost = 0;
                        for (const id in cartObj) {
                            cost += cartObj[id] * document.getElementById(`price${id}`).value;
                        }
                        document.getElementById('cost').innerHTML = `${cost} &#8372;`;
                        elem.parentElement.parentElement.remove();
                    });
                }
            });
    }
    container.innerHTML += `</div>`;
</script>
{% endblock content %}